
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>GridFTP Transfer Service</title>
  
  
  
      <link rel="stylesheet" href="css/index.css">

  
</head>

<body>

  
<form action="/gridftp" method="get" id="connect-page">
  <header>GridFTP Transfer Service</header>
  <label>Destination Hostname<span>*</span></label>
  <input type="text" name="destination_hostname">
  <div class="help">e.g. kmutnb.globus.org</div>
  <label>Destination IP<span>*</span></label>
  <input type="text" name="destination_ip">
  <div class="help">e.g. 202.20.52.240</div>s
  <button type="submit" form="connect-page" value="submit">Connect</button>
</form>
  
  

</body>

</html>

